<!-- image comes from http://www.flickr.com/photos/chiotsrun/3241741298/sizes/l/in/photostream/ -->
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= @default_issue.picture %>" height="250" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1><%= @default_issue.name %></h1>
          <p class="lead"><%= @default_issue.description %></p>
          <%= link_to 'Explore', @default_issue, {class:'btn btn-large btn-primary'} %>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <% @issues.each do |issue|
      next if issue.id == @default_issue.id
      %>
      <div class="span4">
        <img class="img-circle" width="180" height="180" src="<%= issue.picture %>">
        <h2><%= issue.name %></h2>
        <p><%= issue.description %></p>
        <p><%= link_to 'View details &raquo;'.html_safe, issue, {class:'btn'} %></p>
      </div><!-- /.span4 -->
    <% end %>
  </div><!-- /.row -->
</div><!-- /.container -->
