
<div class="clearfix"></div>

<style type="text/css">
  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 60px 0;
    text-align: left;
  }
  .jumbotron h1 {
    font-size: 48px;
    line-height: 1;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  /* Misc overrides */
  a, a:hover {
    color: #1F8000;
  }

  .banner img {
    min-width: 100%;
    height: 300px;
  }
</style>

    <div class="container-narrow">
      <div class="masthead">
        <!-- This is a link back to the home page -->
        <h3 class="muted"><a href="/">&lt;&nbsp; More Truthiness</a></h3>
      </div>

      <div class="banner">
        <img src="<%= @issue.banner_image %>" height="250" alt="">
      </div>

      <div class="jumbotron">
        <h1><%= @issue.heading %></h1>
        <p class="lead"><%= @issue.description %></p>
      </div>

      <!-- *** get all articles associated with this issue;
           display the title and the summary here -->
      <div class="row-fluid marketing">
        <div class="span6">
          <% @issue.articles.each do |article| %>
          <h4><%= article.title.html_safe unless article.title.nil? %></h4>
          <p><%= article.summary.html_safe unless article.summary.nil? %>
             <%= link_to "Learn More", article %></p>
        <% end %>

        <div class="span6">
          <!-- *** get image -->
          <img src="<%= @issue.splash_image %>"
               style="float: right" />
        </div>
      </div>
    </div>
